@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');

/* unvisited link */
a:link {
    color: #7d8285;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #7d8285;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #7d8285;

}

/* selected link */
a:active {
    color: #7d8285;

}

.navbar-brand {

    font-family: 'Lato', sans-serif;
    font-size: 2.5em;
    text-transform: uppercase;
}

.navbar-nav {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    text-transform: uppercase;
}

.card-title {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    color: #7d8285;
}

.card-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    color: #7d8285;
}

.about {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: #7d8285;
}

.address {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: #7d8285;
}

hr {
    margin: 30px 0;
    height: 1px;
    border: none;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, black));
}

.headline {
    font-family: 'Lato', sans-serif;
    color: #7d8285;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
}