/* ==============
   google fonts
   ============== */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Tinos&display=swap');

/* ==============
   global styles
   ============== */

body {
    background-color: #F1F1F1
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: rgb(128, 125, 133);
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(133, 125, 125);
}

hr {
    margin: 30px 0;
    height: 1px;
    border: none;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, rgb(0, 0, 0)));
}

.headline {
    font-size: 1.5em;
}

.headline-intro-text {
    font-size: 1em;
}

.bold-text {
    font-weight: 700;
}

/* ==============
   navigation
   ============== */

.navbar-brand {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2.5em;
    text-transform: uppercase;
    color: #F1F1F1
}

.navbar-nav {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    text-transform: uppercase;
}

/* ==============
   cards
   ============== */

.card-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    text-align: center;
}

.card-published-approved,
.card-draft-approved {
    font-size: 0.8em;
    font-weight: 700;
    color: rgb(0, 128, 0);
}

.card-awaiting-approval,
.card-draft {
    font-size: 0.8em;
    font-weight: 700;
    color: rgb(255, 0, 0);
}

.fragment {
    font-family: 'Tinos', serif;
}

/* ==============
   tables
   ============== */

.table-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    text-align: center;
}

.table-inline {
    display: inline;
}

.image-table-admin {
    width: 50px;
    height: 50px;
}


.form-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

.btn-danger {
    color: rgb(255, 255, 255)
}





.checked {
    text-align: center;
    color: rgb(255, 0, 0)
}

.review-detail-body {
    font-family: 'Tinos', serif !important;
    font-size: 1em;
}

.review-detail-buttons {
    text-align: center;
}



.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.review-detail-heart-comments {
    text-align: center;
}

.heart-like {
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    -o-transition: transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
    /* Animation */
    ;
    margin: 0 auto;
}

.heart-like:hover {
    -webkit-transform: scale(2.0);
    -ms-transform: scale(2.0);
    transform: scale(2.0);
}


.comment-date-name {
    font-family: 'Roboto', sans-serif;
    color: rgb(133, 125, 125);
    font-size: 1.2em;
    font-weight: 700;
}

.comment-body {
    font-family: 'Roboto', sans-serif;
    color: rgb(133, 125, 125);
    font-size: 1em;
}



.number-circle {

    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 8px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    font-weight: 700;
    margin: auto;
    text-align: center;
}


/* ==============
   footer
   ============== */

.footer-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: rgb(133, 125, 125);
}

@media screen and (max-width: 375px) {

    .navbar-brand {
        font-size: 1.5em;
    }
}