/* ==============
   global styles
   ============== */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Tinos&display=swap');


/* ==============
   typography
   ============== */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: rgb(133, 125, 125);
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;

}

a {
    text-decoration: none;
}

.navbar-brand {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2.5em;
    text-transform: uppercase;
}

.navbar-nav {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    text-transform: uppercase;
}

.headline {
    font-size: 1.5em;

}

.intro-text {
    font-size: 1em;
}

.card-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    text-align: center;

}

.btn-danger {
    color: rgb(255, 255, 255)
}

.card-text-footer {
    text-align: center;
}

.fragment {
    font-family: 'Tinos', serif;

}

.author {
    color: rgb(255, 0, 0)
}

.checked {
    text-align: center;
    color: rgb(255, 0, 0)
}

.review-detail-body {
    font-family: 'Tinos', serif !important;
    font-size: 1em;


}

.review-detail-buttons {
    text-align: center;

}

hr {
    margin: 30px 0;
    height: 1px;
    border: none;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, rgb(0, 0, 0)));
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.review-detail-heart-comments {
    text-align: center;
}

.test {

    transition: transform .2s;
    /* Animation */
    ;
    margin: 0 auto;
}

.test:hover {
    transform: scale(2.0);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


@media screen and (max-width: 375px) {

    .navbar-brand {
        font-size: 1.5em;
    }
}


.card-awaiting-approval,
.card-draft {
    font-size: 0.8em;
    font-weight: 700;
    color: rgb(255, 0, 0);

}

.card-published-approved,
.card-draft-approved {
    font-size: 0.8em;
    font-weight: 700;
    color: rgb(0, 128, 0);
}