{% extends 'base.html' %}

{% block content %}

<!-- 404 Error Page Content -->
<div class="container page-space">
    <div class="row">
        <div class="col-12 text-center">
            <div>
                <p class="error-title">404</p>
            </div>
            <div><i class="fas fa-exclamation error-title"></i></div>
            <div>
                <p class="mt-5">Can't find!</p>
            </div>
            <form action="/">
                <button class="black-button mt-4" type="submit">Home</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}