{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1 class="headline mt-4">About Review | Alliance</h1>
    <div>
        We love music and that's why we created this
    </div>
    <hr>
    <div class="mt-3">
        <!-- Comments Table -->
        <div class="mt-3">

            <div class="table-responsive-md">
                <table class="table table-bordered table-text">
                    <thead class="bg-dark text-light text-center align-middle">
                        <tr>
                            <th>Featured Image</th>
                            <th>User Name</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Presentation</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for profile in profile %}
                        <tr class="align-middle">
                            <td>
                                <img class="image-table-admin rounded" src="{{ profile.featured_image.url }}"
                                    alt="Featured image of reviewer">
                            </td>
                            <td>{{ profile.user }}</td>
                            {% if profile.first_name is blank %}
                            <td>The user has not added a first name
                                {% else %}
                                {{ profile.first_name }}
                                {% endif %}
                            </td>
                            {% if profile.first_name is blank %}
                            <td>The user has not added a last name
                                {% else %}
                                {{ profile.first_name }}
                                {% endif %}
                            </td>
                            <td>{{ profile.presentation }}</td>
                        </tr>
                    </tbody>
                    {% endfor %}

                </table>
            </div>
        </div>

    </div>
</div>

{% endblock content %}