{% extends 'base.html' %}

{% block content %}

{% if user.is_superuser %}

<div class="container">
    <h1 class="headline mt-4">Admin Area</h1>
    <p>
        <h2 class="headline-intro-text">Welcome {{ user.first_name }}!</h2>
    </p>
    <hr />
    <div class="mt-3">
        <h5 class="mt-4">Summary</h5>
        <!-- Admin Summary Area -->

        <div class="container">
            <div class="row justify-content-center">

                <div class="col-sm-6 card border-0 mb-3 m-3 shadow bg-white rounded text-center">
                    <div class="card-body">
                        <h6 class="card-title">Totals</h6>
                        <p class="card-text">
                            {% with users.count as total_users %}
                            Total users: {{ total_users }}
                            {% endwith %}
                            <br>
                            {% with post.count as total_reviews %}
                            Total reviews: {{ total_reviews }}
                            {% endwith %}
                            <br>
                            {% with comment.count as total_comments %}
                            Total comments: {{ total_comments }}
                            {% endwith %}
                        </p>
                    </div>
                </div>
                <div class="col card border-0 mb-3 m-3 shadow bg-white rounded text-center">
                    <div class="card-body">
                        <h6 class="card-title">Needs approval</h6>
                        <p class="card-text">
                            {% with reviews_unapproved.count as total_unapproved %}
                            Reviews: {{ total_unapproved }}
                            {% endwith %}
                            <br>
                            {% with comments_unapproved.count as total_unapproved %}
                            Comments: {{ total_unapproved }}
                            {% endwith %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Reviews Table -->
        <div class="table-responsive-md">
            <h5 class="mt-4">Reviews Area</h5>
            <table class="table table-bordered">
                <thead class="bg-dark text-light text-center align-middle">
                    <tr>
                        <th>#</th>
                        <th>Featured Image</th>
                        <th>Date Published</th>
                        <th>Title</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Status</th>
                        <th>Approved</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for review in post %}
                    <tr class="align-middle">
                        <td>{{ review.id }}</td>
                        <td class="text-center">
                            {% if 'default_image' in review.featured_image.url %}
                            <img class="image-table-admin rounded"
                                src="https://res.cloudinary.com/worldofmarcus/image/upload/v1664265037/mukybfipd5kv6etq9nmo.png">
                            {% else %}
                            <img class="image-table-admin rounded" src="{{ review.featured_image.url }}">
                            {% endif %}
                        </td>
                        <td>{{ review.date_created_on }}</td>
                        <td>{{ review.title }}</td>
                        <td>{{ review.author.first_name }}</td>
                        <td>{{ review.author.last_name }}</td>
                        <td>
                            {% if review.status == 1 %}
                            Published
                            {% else %}
                            Draft
                            {% endif %}
                        </td>
                        <td class="text-center">{% if review.approved == True %}
                            <i class="fa-solid fa-check"></i>
                            {% else %}
                            <i class="fa-sharp fa-solid fa-xmark"></i>
                            {% endif %}
                        </td>
                        <td class="text-center">

                            <form method="post" class="form-inline"
                                action="{% url 'admin_update_status' review.slug %}">
                                {% csrf_token %}
                                {% if review.status == 0 %}
                                <button type="submit" name="publish"
                                    class="btn btn-outline-secondary btn-sm mt-1 mb-1">Publish</button>
                                {% else %}
                                <button type="submit" name="unpublish"
                                    class="btn btn-outline-secondary btn-sm mt-1 mb-1">Unpublish</button>
                                {% endif %}
                            </form>
                            <form method="post" class="form-inline"
                                action="{% url 'admin_update_approval' review.slug %}">
                                {% csrf_token %}
                                {% if review.approved == True %}
                                <button type="submit" name="unapprove"
                                    class="btn btn-outline-secondary btn-sm mt-1 mb-1">Unapprove</button>
                                {% else %}
                                <button type="submit" name="approve"
                                    class="btn btn-outline-secondary btn-sm mt-1 mb-1">Approve</button>
                                {% endif %}
                            </form>

                            {% if review.status == 1 %}
                            <a href="{% url 'review_details' review.slug %}"
                                class="btn btn-outline-secondary btn-sm ">View
                            </a>
                            {% endif %}
                            <a href="{% url 'admin_delete_review' review.slug %}"
                                class="btn btn-danger btn-sm mt-1 mb-1">Delete
                            </a>



                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>

    </div>
    <!-- Comments Table -->
    <div class="mt-3">
        <h5 class="mt-4">Comment Area</h5>
        <div class="table-responsive-md">
            <table class="table table-bordered">
                <thead class="bg-dark text-light text-center align-middle">
                    <tr>
                        <th>#</th>
                        <th>Date Published</th>
                        <th>Post</th>
                        <th>Name</th>
                        <th>Comment</th>
                        <th>Approved</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for comment in comment %}
                    <tr class="align-middle">
                        <td>{{comment.id}}</td>
                        <td>{{comment.date_created_on}}</td>
                        <td>{{comment.post}}</td>
                        <td>{{comment.author.first_name}}</td>
                        <td>{{comment.body}}</td>
                        <td class="text-center">{% if comment.approved == True %}
                            <i class="fa-solid fa-check"></i>
                            {% else %}
                            <i class="fa-sharp fa-solid fa-xmark"></i>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <form method="post" action="{% url 'admin_update_comment' comment.pk %}">
                                {% csrf_token %}
                                {% if comment.approved == True %}
                                <button type="submit" name="approve"
                                    class="btn btn-outline-secondary btn-sm mt-1 mb-1">Unapprove</button>
                                {% else %}
                                <button type="submit" name="unapprove"
                                    class="btn btn-outline-secondary btn-sm mt-1 mb-1">Approve</button>
                                {% endif %}
                                <a href="{% url 'admin_delete_comment' comment.pk %}"
                                    class="btn btn-danger btn-sm ">Delete
                                </a>
                            </form>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}

            </table>
        </div>

    </div>

    {% else%}
    <p class=" author card-text">You are not allowed here!</p>
    {% endif %}
</div>


{% endblock content %}