{% extends 'base.html' %}

{% block content %}

{% if user.is_superuser %}

<div class="container">
    <div>
        <h1 class="headline mt-4">Admin Area</h1>
        <p>
            <h2 class="intro-text">Welcome {{ user.first_name }}!</h2>
        </p>
        <hr />

        <div class="row">
            <!-- Admin Area -->
            <div class="col-12 mt-3 left">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="card mb-4 border-0 shadow p-3 bg-white rounded">
                            <div class="card-body">
                                <p class="card-text mt-1 mb-1">
                                    <i class="fa-solid fa-circle-user fa-2xl mb-6"></i><br>
                                    Logged in users:
                                </p>
                                <p class="card-text mt-1 mb-1">
                                    <i class="fa-solid fa-users fa-2xl"></i><br>Total registered users:
                                </p>
                                <p class="card-text mt-1 mb-1">
                                    <i class="fa-solid fa-comment-dots fa-2xl"></i><br>Total comments:

                                </p>
                                <p class="card-text mt-1 mb-1">
                                    <i class="fa-solid fa-comments fa-2xl"></i><br>Total reviews:
                                </p>
                                <p class="card-text mt-1 mb-1">
                                    <i class="far fa-heart fa-2xl"></i><br>Total number of likes:
                                </p>
                            </div>
                            {% else%}
                            <p class="author card-text">You are not allowed here!</p>
                            {% endif %}
                        </div>




                        {% endblock content %}