{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>Review | Alliance</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home'%}">Review | Alliance</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home'%}">Album reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'concert_reviews'%}">Concert Reviews</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            {{ user.first_name }} [Logged In]
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Create New Review</a></li>
                            <li><a class="dropdown-item" href="#">View My Reviews</a></li>
                            <div class="dropdown-divider"></div>
                            <li><a class="dropdown-item" href="#">Show Profile Page</a></li>
                            <li><a class="dropdown-item" href="#">Edit Profile Page</a></li>
                            <div class="dropdown-divider"></div>
                            <li><a class="dropdown-item" href="#">Log Out</a></li>
                            {% else %}
                            <li><a class="nav-link" href="#">Log In / Sign Up</a></li>
                        </ul>

                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>



    <main class="flex-shrink-0">
        {% block content %}
        <!-- All Content Goes here -->
        {% endblock content %}
    </main>




    <footer class="bg-light text-center text-dark about">
        <div class="container p-4 pb-0">
            <!-- Information Section -->
            <div class="text-center p-3 bg-light">
                The Review Alliance is a review website where you will find the best reviews within music and concerts
                around the world! Don't forget to follow us on social media (see links below).

            </div>
            <!-- Social Media Section -->
            <section class="mb-4">
                <!-- Instagram -->
                <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"><i
                        class="fa-brands fa-square-instagram"></i></a>

                <!-- Linked In -->
                <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-linkedin"></i></a>

                <!-- Youtube -->
                <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-youtube"></i></a>

                <!-- Twitter -->
                <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-twitter"></i></a>
            </section>
            <!-- End Of Social Media Section -->
        </div>
        <!-- Address & Copyright Section -->
        <div class="text-center p-3 bg-light address">
            <p>Review Alliance, Street 22, 123 45 Stockholm, Sweden
                <p class="text-muted">©2022 Copyright Review | Alliance</p>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous">
    </script>


</body>

</html>