{% extends 'base.html' %}

{% block content %}

<div class="container flex-grow-1">
    <div>
        <h1 class="headline mt-4">All Concert Reviews</h1>
        <p>
            <h2 class="headline-intro-text">Latest concert reviews
                written by our top critics! Enjoy!</h2>
        </p>
        <hr>
    </div>
    <div class="row">
        <!-- All Concert Reviews -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in object_list %}
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="card mb-4 border-0 shadow p-3 bg-white rounded">
                        <div class="card-body">
                            <div class="image-container">
                                {% if 'default_image' in post.featured_image.url %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/worldofmarcus/image/upload/v1664265037/mukybfipd5kv6etq9nmo.png">
                                {% else %}
                                <img class="card-img-top" src="{{ post.featured_image.url }}">
                                {% endif %}
                            </div>
                            <p class="card-text bold-text mt-1 mb-1">{{ post.artist }} | {{ post.title }}</p>
                            <p class="card-text bold-text mb-1">{{ post.genre }}</p>
                            <p class="card-text mb-3 fragment">{{ post.fragment|truncatechars:100 }}</p>
                            <p class="card-text">
                                <a href="{% url 'review_details' post.slug %}"
                                    class="btn btn-outline-secondary btn-sm">Read
                                    More</a>
                                {% if user.id == post.author.id %}
                                <a href="{% url 'update_review' post.slug %}"
                                    class="btn btn-outline-secondary btn-sm">Update</a>
                                <a href="{% url 'delete_review' post.slug %}" class="btn btn-danger btn-sm">Delete</a>
                                {% endif %}
                            </p>
                            <hr>
                            <p class="card-text text-muted text-center">
                                By {{ post.author.first_name }} |
                                {{ post.date_created_on|date:"Y-m-d" }}
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                <hr>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination pagination-sm justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock content %}