{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

{% if user.is_authenticated %}

<div class="container">
    <div>
        <h1 class="headline mt-4">Create Review</h1>
        <div>
            <h2 class="headline-intro-text">Please use the form below to create your review.</h2>
        </div>
        <hr>
    </div>
    <form method="post" class="form-text" enctype="multipart/form-data" style="margin-top: 1.3em;">
        {{ form|crispy }}
        {% csrf_token %}
        <p class="mt-4">Posting as: {{ user }}</p>
        <button type="submit" class="btn btn-outline-secondary btn-sm mt-3 mb-3">Submit</button>
    </form>
    {% else %}
    <p class="access-denied card-text">You are not allowed here!</p>
    {% endif %}
</div>

{% endblock content %}