{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div>
        <h1 class="headline mt-4">My Reviews</h1>
        <p>
            <h2 class="intro-text">Here you can find all the reviews you have written!</h2>
        </p>
        <hr />
    </div>
    <div class="row">
        <!-- Album Reviews -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in object_list %}
                <div class="col-lg-4 col-md-12">
                    <div class="card mb-4 border-0 shadow p-3 bg-white rounded">
                        <div class="card-body">
                            <div class="image-container">
                                {% if 'default_image' in post.featured_image.url %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/worldofmarcus/image/upload/v1664265037/mukybfipd5kv6etq9nmo.png">
                                {% else %}
                                <img class="card-img-top" src="{{ post.featured_image.url }}">
                                {% endif %}
                            </div>
                            <p class="card-text mt-2 mb-2">
                                <i class="far fa-heart"></i>
                                {{ post.number_of_likes }}
                            </p>
                            <p class="card-text mb-1">{{ post.artist }} | {{ post.title }}</p>
                            <p class="card-text mb-3 fragment">{{ post.fragment|truncatechars:100 }}</p>
                            <p class="card-text">
                                {% if user.id == post.author.id %}
                                <a href="{% url 'update_review' post.slug %}"
                                    class="btn btn-outline-secondary btn-sm">Update</a>
                                <a href="{% url 'delete_review' post.slug %}" class="btn btn-danger btn-sm">Delete</a>
                                {% endif %}
                            </p>
                            <p class="card-text">
                                {% if post.status == 1 and not post.approved  %}
                                <span class="card-awaiting-approval">Your review is awaiting approval</span>
                                {% elif post.status == 0 and post.approved %}
                                <span class="card-draft-approved">Your review is in draft status but is
                                    approved</span>
                                {% elif post.status == 1 and post.approved %}
                                <span class="card-published-approved">Your review is published and approved</span>
                                {% elif post.status == 0 %}
                                <span class="card-draft">Your review is in draft status</span>



                                {% endif %}

                            </p>
                            <hr />
                            <p class="card-text text-muted h6 card-text-footer">
                                By <span class="author">{{ post.author.first_name }}</span> |
                                {{ post.date_created_on|date:"Y-m-d" }}
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                <hr />
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination pagination-sm justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
<hr>
{% endblock content %}