{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}

<div class="container">
    <h1 class="headline mt-4">{{ post.artist }} | {{ post.title }}</h1>

    <hr />

    <div class="row align-items-center">
        <div class="col">
            <p>
                <h6>{{ post.category }}</h6>
            </p>
            {% if 'Album' in post.category %}
            <p>
                <h2>{{ post.title }}</h2>
            </p>
            <p>
                <h2>By</h2>
            </p>
            <p>
                <h2>{{ post.artist }}</h2>
            </p>
            <p>
                <h2>{{ post.release_date }}</h2>
            </p>
            {% else %}
            <p>
                <h2>{{ post.artist }}</h2>
            </p>
            <p>
                <h2>@</h2>
            </p>
            <p>
                <h2>{{ post.venue }}</h2>
            </p>
            <p>
                <h2>Datum för spelning</h2>
            </p>
            {% endif %}
            <hr />
            <p>
                <h6>Genre: {{ post.genre }}</h6>
            </p>
            <p>
                <h6>Label: {{ post.record_label }}</h6>
            </p>
            <p>
                <h6>Reviewed: {{ post.date_created_on | date:"Y-m-d"}}</h6>
            </p>

        </div>
        <div class="col"><img class="card-img-top" src="{{ post.featured_image.url }}">
        </div>

        <div class="review-detail-body mt-4">{{ post.body|safe }}</div>




    </div>
</div>

<small>By: {{ post.author }}</small>
<br>
<small>Category: {{ post.category }}</small>

{% if 'Album' in post.category %}
<br>
{{ post.record_label }}

{% else %}
<br>
{{ post.venue }}
<br>

{% endif %}

<strong>
    {% if user.is_authenticated %}
    <form class="d-inline" action="{% url 'like_review' post.slug %}" method="POST">
        {% csrf_token %}
        {% if liked %}
        <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                class="fas fa-heart"></i></button>
        {% else %}
        <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                class="far fa-heart"></i></button>
        {% endif %}
    </form>
    {% else %}
    <span class="text-secondary"><i class="far fa-heart"></i></span>
    {% endif %}
    <!-- The number of likes goes before the closing strong tag -->
    <span class="text-secondary">{{ post.number_of_likes }} </span>
</strong>
{% with comments.count as total_comments %}
<strong class="text-secondary"><i class="far fa-comments"></i>
    <!-- Our total_comments variable goes before the closing strong tag -->
    {{ total_comments }}</strong>
{% endwith %}



{% for comment in comments %}
<br>
{{ comment.name}}
<br>
{{ comment.date_created_on }}
<br>


{% if user.is_authenticated %}

{% if user.id == comment.author.id %}

<a href="{% url 'update_comment' comment.pk %}">Update Comment</a>

<br>
<hr>
<br>


{% endif %}
{% endif %}

<br>
{{ comment.body | linebreaks }}
{% endfor %}

{% if commented %}

<h1>Your comment is awaiting approval</h1>

{% else %}
{% if user.is_authenticated %}

<h3>Leave a comment:</h3>
<p>Posting as: {{ user.username }}</p>
<form method="post" style="margin-top: 1.3em;">
    {{ comment_form | crispy }}
    {% csrf_token %}
    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
</form>
{% endif %}
{% endif %}
{% endblock content %}