{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}


<h1>{{ post.title }}</h1>
<br>
<small>By: {{ post.author }}</small>
<br>
<small>Category: {{ post.category }}</small>

{% if 'Album' in post.category %}
<br>
{{ post.record_label }}

{% else %}
<br>
{{ post.venue }}
<br>

{% endif %}
{{ post.body | safe }}

<br>
<br>

{% for comment in comments %}
<br>
{{ comment.name}}
<br>
{{ comment.date_created_on }}
<br>
{{ comment.body | linebreaks }}
{% endfor %}

{% if commented %}

<h1>Your comment is awaiting approval</h1>

{% else %}
{% if user.is_authenticated %}

<h3>Leave a comment:</h3>
<p>Posting as: {{ user.username }}</p>
<form method="post" style="margin-top: 1.3em;">
    {{ comment_form | crispy }}
    {% csrf_token %}
    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
</form>
{% endif %}
{% endif %}
{% endblock content %}