{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <div class="row align-items-center mt-4">
        <div class="col-lg-6 col-md-6 col-sm-12 align-items-center">
            {% if 'default_image' in post.featured_image.url %}
            <img class="card-img-top"
                src="https://res.cloudinary.com/worldofmarcus/image/upload/v1664265037/mukybfipd5kv6etq9nmo.png">
            {% else %}
            <img class="card-img-top" src="{{ post.featured_image.url }}">
            {% endif %}
        </div>
        <div class="col align-items-center">
            <p>
                <h6>{{ post.category }}</h6>
            </p>
            {% if 'Album' in post.category %}
            <p>
                <h3>{{ post.title }}</h3>
            </p>
            <p>
                <h3>By</h3>
            </p>
            <p>
                <h3>{{ post.artist }}</h3>
            </p>
            <p>
                <h3>{{ post.release_live_date|date:"Y" }}</h3>
            </p>
            <p class="number-circle">{{ post.rating }}
            </p>
            {% else %}
            <p>
                <h3>{{ post.artist }}</h3>
            </p>
            <p>
                <h3>@</h3>
            </p>
            <p>
                <h3>{{ post.venue }}</h3>
            </p>
            <p>
                <h3>{{ post.release_live_date|date:"Y-m-d" }}</h3>
            </p>
            <p class="number-circle">{{ post.rating }}
            </p>
            {% endif %}
            <hr />
            <p>
                <h6>Genre: {{ post.genre }}</h6>
            </p>
            <p>
                <h6>Release Date: {{ post.release_live_date|date:"Y-m-d" }}</h6>
            </p>
            {% if 'Album' in post.category %}
            <p>
                <h6>Record Label: {{ post.record_label }}</h6>
            </p>
            {% endif %}
            <p>
                <h6>Reviewed by {{ post.author.first_name }}: {{ post.date_created_on|date:"Y-m-d"}}</h6>
            </p>
            {% if user.is_authenticated %}
            <form class="review-detail-heart-comments" action="{% url 'like_review' post.slug %}" method="POST">
                {% csrf_token %}
                {% if liked %}
                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                        class="fas fa-heart heart-like"></i></button>
                {% else %}
                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                        class="far fa-heart heart-like"></i></button>
                {% endif %}
            </form>
            {% if user.id == post.author.id %}
            <div class="review-detail-buttons mt-4">
                <a href=" {% url 'update_review' post.slug %}" class="btn btn-outline-secondary btn-sm">Update</a>
                <a href="{% url 'delete_review' post.slug %}" class="btn btn-danger btn-sm">Delete</a>
            </div>
            {% endif %}
            {% endif %}
            <div class="review-detail-heart-comments mt-2">
                <i class="far fa-heart p-2"></i>
                {{ post.number_of_likes }}
                {% with comments.count as total_comments %}
                <i class="far fa-comments p-2"></i>
                {{ total_comments }}
                {% endwith %}
            </div>
        </div>
        <div class="review-detail-body mt-4 align-items-center">{{ post.body|safe }}
            <hr />
        </div>
        <div>
            <h3>Comment Section</h3>
            <div class="mt-5 text-center">
                {% for comment in comments %}
                <p class="comment-date-name">{{ comment.date_created_on }} by {{ comment.author.first_name}}</p>
                <p class="comment-body">{{ comment.body }}</p>
                {% if user.is_authenticated %}
                {% if user.id == comment.author.id %}
                <a href="{% url 'update_comment' comment.pk %}" class="btn btn-outline-secondary btn-sm">Update</a>
                <a href="{% url 'delete_comment' comment.pk %}" class="btn btn-danger btn-sm">Delete</a>
                </p>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
            {% if commented %}
            <div class="alert alert-success text-center" role="alert">
                Your comment is awaiting approval
            </div>
            {% else %}
            {% if user.is_authenticated %}
            <hr />
            <h5>Leave a comment:</h5>
            <form method="post" style="margin-top: 1.3em;">
                {{ comment_form|crispy }}
                {% csrf_token %}
                <p class="mt-3">Posting as: {{ user.first_name }}</p>
                <button type="submit" class="btn btn-secondary btn-sm mt-3 mb-3">Submit</button>
            </form>
            {% else %}
            <div class="alert alert-success text-center" role="alert">
                Log in to join the discussion!
            </div>
            {% endif %}
            {% endif %}
        </div>
    </div>

    {% endblock content %}