{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            {% if form.instance.approved == False %}
            <div class="alert alert-success text-center" role="alert">
                Your comment has successfully been updated and needs a re-approval from site admin.
                <br>
                <a href="{% url 'home' %}" class="btn btn-outline-secondary btn-sm mt-3 mb-3">Back to home</a>
            </div>
            {% else %}
            {% if user.is_authenticated and user.id == comment.author.id %}
            <h3>Update your comment:</h3>
            <form method="post" style="margin-top: 1.3em;">
                {{ form|crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-secondary btn-sm">Update</button>
                <p>Posting as: {{ user.username }}</p>
            </form>
            {% else %}
            <p class="access-denied card-text">You are not allowed here!</p>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}